name: Test on Multiple OS and Browsers

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        node-version: [18, 20, 22]
        attempt: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
        browser: [chrome-latest, firefox-latest, safari-latest]

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        run: npm install --force

      - name: Testing on ${{ matrix.os }} with Node.js v${{ matrix.node-version }}, attempt ${{ matrix.attempt }}, browser ${{ matrix.browser }}
        run: |
          echo "Run attempt: ${{ matrix.attempt }}"
          echo "Browser: ${{ matrix.browser }}"
          npm run test -- --browser=${{ matrix.browser }}
